# placeholders (e.g. '{media_dir}') will be replaced with `manim.config` values

[CACHE]
cache_dir = {media_dir}/narrations
json_file_name = cache.json
audio_file_name_hash_algorithm = sha256
audio_file_name_length = 32

[TAGS]
bookmark = bookmark
